<ng-container *ngIf="jokes.length > 0; else noJokes">
  <div role="list">
    <app-joke-card
      class="col"
      *ngFor="let joke of jokes"
      [joke]="joke"
      [showUnfavorite]="showUnfavorite"
      (favorite)="favorite.emit(joke)"></app-joke-card>
  </div>
</ng-container>
<ng-template #noJokes>
  <div class="conatiner">
    <p class="mt-2">
      {{
        showUnfavorite
          ? 'No favorites found'
          : 'No Jokes found, please click load jokes to get started.'
      }}
    </p>
  </div>
</ng-template>
